<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="myico">

    <title>Ovni</title>

    <!-- Bootstrap core CSS -->
    <link href="skin_files/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="skin_files/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="skin_files/navbar.css" rel="stylesheet">

    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="skin_files/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<style type="text/css">
  .jumbotron{
    margin-top: 15%;
    padding: 10%;
  }
</style>

  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
         
          
       
            <ul class="nav navbar-nav">
              <li><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-gear" aria-hidden="true"></i></a></li>
              </ul>
          
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron pagination-center">
        <h1 class="text-center"><a href="#"><i class="fa fa-film" aria-hidden="true"></i></a>&nbsp;<a href="#"><i class="fa fa-music" aria-hidden="true"></i></a>&nbsp;<a href="#"><i class="fa fa-book" aria-hidden="true"></i></a>&nbsp;<a href="#"><i class="fa fa-gamepad" aria-hidden="true"></i></a>&nbsp;<a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i></a>&nbsp;<a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>&nbsp;<a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></h1>
        <p></p>
        <p>
        </p>
      </div>
      <div class="text-center"><h2>Text selection</h2></div>

    </div> <!-- /container -->
    <script src="../../js/main/app.js">
    </script>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./skin_files/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="skin_files/jquery.js"><\/script>')</script>
    <script src="./skin_files/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="skin_files/ie10-viewport-bug-workaround.js"></script>

</body></html>